.vs/

ipch/
obj/

Debug/
debug/
Release/
release/

HolaSDLDebug.*
HolaSDLRelease.*

*.suo
*.user
*.ncb
*.sbr

*.log
*.*log


In the solution folder delete all bin, obj, ipch, debug and release directories.
Delete any .suo files
Delete any .user files
Delete any .ncb files
Delete any .sbr files
Delete any .*log files (for VS 2010)

